.map{
    -fx-background-color: #666970;
}
.map-toolbar .button, .map-toolbar .toggle-button, .map-toolbar .label {
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.map-toolbar{
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 4 4 4 4;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,
      #919398 0%,#919398 4%,#666970 4.1%,#494d53 66%,#3c3f46 94%,#515151 94.1%); 
/*      (0%,0%) to (0%,100%) stops
                (0%,#)
                (4%,)
                (4.1%,)
                (66%,)
                (94%,)
                (94.1%,);*/
}